    {% extends "main/base.html" %}
    {% block content %}

    <div id="main">
        <div id="head">
            <h1 id="step">🖼️</h1>
            <h1 id="time-to-show">કૃપા કરીને ફોટોફ્રેમ પસંદ કરો </h1>
            <h1 id="select-frame">Please select a photoframe</h1>
        </div>
        <div></div>
    </div>

    <div class="container mt-40">
        <div class="row mt-30">
 {% for i in frames %}
            <div class="col-md-4 col-sm-6">
                <div class="box14">
                {% if i.orientation == 'landscape' %}
                <a href="{% url 'l_upload' i.id %}">
                {% endif %}

                {% if i.orientation == 'square' %}
                <a href="{% url 'upload' i.id %}">
                {% endif %}

                {% if i.orientation == 'square_with_small_image' %}
                <a href="{% url 'square_with_small_image' i.id %}">
                {% endif %}


                {% if i.orientation == 'vertical' %}
                <a href="{% url 'vertical_image' i.id %}">
                {% endif %}


                    <img src="{{ i.frame.url }}" alt="">
                    <div class="box-content">
                    </div>
                </a>
                </div>
            </div>
{% endfor %}
            </div>
        </div>

  {% endblock content %}